/* Logo */
.Cogs > .fa-cog {
    color: white;
    font-size: 40px;
}

.Cogs:hover > .fa-cog {
  animation: Cogs-spin infinite 20s linear;
}

@keyframes Cogs-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}