html, body, #page {
   width: 100%;
   height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
}

/* Logo */
.Logo {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

.Logo > img {
	display: inline-block;
	width: 100%;
	max-width: 400px;
	padding: 36px;
	margin: 0 auto;
}


/* Home */
.Home {
  background-size: 100% 100%;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.Home > .Logo {
  margin-bottom: 90px;
}

.Home > .Home-message {
    font-family: 'Kaushan Script', cursive;
    display: inline-block;
    font-size:25px;
    margin-bottom: 20px;
    color: white;
     width: 100%;
}

/*.Shine > .Shine-message {
    position: relative;
    z-index: 2;
    font-size: 34px;
    margin-top: -70px;
    font-family: 'Kaushan Script', cursive;
    color: #7dcbd8;
}*/

@keyframes Home-sun-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Home, .Welcome, .Enjoy {
  background: url("../public/bg.jpg") no-repeat;
  background-size: 100% 100%;
}

.Welcome {
  height: 100%;
}

/* Welcome */
.Welcome > .Cogs {
  margin: 20px;
  float: right;
}

/* Settings */
.content {
  text-align: center;
  background-color: white;
  min-height: 100%;
  height: initial;
  padding-top: 10px;
}